<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TrainHeroic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="http://gainz.trainheroic.com/styles/vendor-46108103.css">
    <link rel="stylesheet" href="http://gainz.trainheroic.com/styles/app-578f83c8.css">
    <link rel="stylesheet" href="leaderboard.css">

</head>
<body ng-app='LeaderboardApp' ng-cloak>

<div ui-view>
	<div layout="column" class='layout-column' ng-if='!loading'>
		<div ui-view='body' class='th-wolo' ng-controller='leaderboardCtrl' ng-model='board'>
			<md-card layout='column' layout-align='start' class='workout-logging-header' >
				<md-content class='session-info'>
					<div layout="row" layout-align="space-between center" layout-padding="" layout-fill="" class="layout-fill layout-padding layout-align-space-between-center layout-row">
						<div flex="" class="wolo-title flex">
							<h1>Leaderboard for {{boardData.workoutTitle}} - {{boardData.date}}</h1>
						</div>
					</div>
				</md-content>
			</md-card>
			<div class='leader-section'>
				<md-card class='leader' layout='column' ng-repeat='result in board'>
					<md-card-title>
						<md-card-title-media>
							<h1 class='leader-rank'>{{result.rank}} </h1>
						</md-card-title-media>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<a href='{{result.profileUrl}}'}}>
								<img ng-src='{{result.profileImg}}' class='avatar'/>
								</a>
							</div>
						</md-card-title-media>
						<md-card-title-text>
							<h1 class='md-headline leader-name'>{{result.userLastName}}, {{result.userFirstName}}</h1>
						</md-card-title-text>
						<md-card-title-media>
							<h1 class='leader-results'>{{result.tests[0]}}</h1>
						</md-card-title-media>
					</md-card-title>
				</md-card>
			</div>
			<md-card layout='column' layout-align='start' class='workout-logging-header fixed-footer' >
				<md-card-title class='session-info leaderboard-stats'>
					<md-card-title-text>
						Total Reps Completed
					</md-card-title-text>
					<md-card-title-text class='leader-stat'>
						{{boardData.totalReps}}
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  
<script type="text/javascript" src='app.js'></script>
</body>
</html>